<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Prime Factor Results</h2>

    <p>The prime factors of <%= @x %> are below</p>
    <p><%= @y %></p>
  </div>
</div>
